<app-panel-top></app-panel-top>

<button routerLink="/landing">Powrót</button>

<div class="products">
    <table style="margin:0 auto;">
        <thead *ngIf="this.mainService.products">
            <tr>
                <th>obrazek</th>
                <th>dane</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of this.mainService.products?.productsTable">
            <tr style="background-color: whitesmoke;">
            <td><img src="{{product.thumbnail}}" alt="" class="thumbnail"></td>
            <td>
            <ul>
            <li class="title">Tytuł: {{product.title}}</li>
            <li class="price">Cena: {{product.price}}</li>
            <li class="category">Kategoria: {{product.category}}</li>
            </ul>
            </td>
            <td>
            <button (click)="addToCart(product)">Do koszyka</button>
            </td>
            </tr>
            </ng-container>
        </tbody>
    </table>
</div>
